html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: rgb(5, 101, 112);
  color: rgb(240, 240, 240);
  text-align: center;
  margin-bottom: 0%;
  line-height: 100px;
  height: 100px;
  width: 100%;
}

/* Das wär für die alternative gewesen 
.navigation2 {
  height: 100%;
  width: 20%;
  background-color: wheat;
}

.navigation2 p {
  background-color: coral;
  height: 60px;
  color: black;
  text-align: center;
  line-height: 60px;
} */

.navigation {
  color: #080808;
  width: 100%;
  background-color: rgb(0, 3, 97);
  font-size: large;
}

table tr th a {
  color: rgb(240, 240, 240);
  display: block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: larger;
  text-decoration: none;
}

th {
  width: 33.3%;
}

.highlight {
  background-color: rgba(24, 5, 115, 0.896);
}

table tr th a:hover {
  background-color: rgba(155, 154, 168, 0.896);
}

.main {
  background-color: rgb(224, 224, 223);
  height: 60%;
}

.text {
  background-color: rgb(230, 240, 200);
  height: 40%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#map-slider {
  width: auto;
  height: 768px;
}

#map-pointer {
  width: auto;
  height: 768px;
}

h1 {
  display: inline-block;
}

#switch {
  display: inline-block;
  margin-left: 50px;
}
