#map-slider {
  width: auto;
  height: 768px;
}

#map-pointer {
  width: auto;
  height: 768px;
}

h1 {
  display: inline-block;
}

#switch {
  display: inline-block;
  margin-left: 50px;
}
